*{
    margin: 0;
    padding: 0;
    font-family: "Graphik Regular";
    box-sizing: border-box;

}
body{
    background-color:#fafafa;
    max-height: 1000px;
}
.container {
    border-style: none;
    width: 1903px;
    height: 128px;
    box-shadow:0 1px 4px #a8a5a3;
    overflow: hidden;
    font-size: 13px;
}


.firstnav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    height: 64px;
}


.leftnav{
    display: flex;
    align-content: flex-start;
    padding: 0;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    display: flex;
    align-items:flex-start;
}
.rightnav{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    padding: 0;
    width: 300.7px;
    height: 50px;
    margin: 0 auto;
    font-size: 12px;

}


.logo{
    width: 160px;
    max-height: 300px;
    vertical-align: middle;
    font-family: "GraphikWeb", "Verdana", sans-serif;
    font-size: 13px;
    line-height: 1.53846154;
}

#shipto{
    position: relative;
    top: 25px;
    color: #A8A5A3;
    left: 110px;
    background-size: 10px;
    width: 60px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(Images/arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 12px;
    line-height: normal;
    margin-right: 0;
    display: flex;
    align-items: center;
    outline: none;
    display: flex;
    flex-direction: row;


}
#labellanguage{
    position: relative;
    color: #A8A5A3;
    left: 180px;
}

#language{
    position: relative;
    left: 180px;
    background-size: 10px;
    width: 70px;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(Images/arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 12px;
    line-height: normal;
    margin-right: 0;
    outline: none;

}
.signin{
    position: relative;
    left: 150px;
    background-image: url(Images/signin.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding:20px 0 25px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.searchbar{
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    color: #333;
    min-width: 300px;
    max-width: 300px;
    background-image: url(./Images/searchicon.png);
    background-position: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
    outline: none;
    padding: 4px 0 4px 48px;
    border: 1px solid #dedede;
    transition: width .6s ease-in-out;
    height: 40px;
    background-color: #fafafa;
    border-radius: 32px;
}
.second-nav{
    position: relative;
    display: flex;
    max-width: 1216px;
    align-content: flex-start;
    justify-content: space-between;
    min-height: 64px;
    height: 64px;
}
#wine{
    background-image: url(Images/Wine-Glass-icon.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 20px;
}
#pairing{
    background-image: url(Images/Cheese.png);
    background-repeat: no-repeat;
    background-position: left -2px  center;
    background-size: 25px;
}
#grapes{
    background-image: url(Images/Grapes.png);
    background-repeat: no-repeat;
    background-position: left -15px center;
    background-size: 50px;
}
#region{
    background-image: url(Images/Region.png);
    background-repeat: no-repeat;
    background-position: left  center;
    background-size: 20px;
}
#award{
    background-image: url(Images/award.png);
    background-repeat: no-repeat;
    background-position: left  center;
    background-size: 15px;
}
.topnav {
    position: relative;
    padding: 0;
    max-width: 800px;
    max-height: 300px;
    margin: 0 auto;

}

.topnav a {
    float: left;
    display: block;
    color: #1d1d1d;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #fafafa;
    color: #1d1d1d;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    position: relative;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    position: relative;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #fafafa;
    min-width: 20px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
h4{
    float: none;
    font-family: "Graphik Medium";
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

}
.uppermargin{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 64px;
}
.container2 {
    position: relative;
    width: 100%;
    min-height: 10vh;
    border-style: none;
    padding-left: 18%;
    padding-right: 8%;
    overflow: hidden;

}
#user-rating {

   background-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
           /* Remove default arrow */
    width: 200px;
    position: relative;
    right: -1050px;
    border-style: solid;
    padding: 15px;
    border-radius: 30px;
    outline: none;
    background-image: url(Images/arrow.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 15px;


}
.container3 {
    top: 5px;
    width: 45%;
    min-height: 20vh;
    border:none;
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
#selectmultiplelabel{
    position: relative;
    top: -25px;
    font-size: 13px;
    left: 360px;
}
h5{
    position: relative;
    padding-left:70%;
}
.btnfirstcolumn{
    background-color: #fafafa;
    color: #c0392b;
    border: solid 1px;
    padding: 8px;
    min-width: 120px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    margin: 7px 12px;
}
.btnfirstcolumn:focus {
    background-color: #c0392b;
    border: none;
    color: #fafafa;
    padding: 8px;
    min-width: 120px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    margin: 7px 12px;
    cursor: pointer;
}

.btn{
    background-color: #fafafa;
    color: #c0392b;
    border: solid 1px;
    border-color:  #c0392b;
    padding: 7px 20px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    margin: 12px 3px;
    cursor: pointer;

}
.btn:focus{
    background-color: #c0392b;
    border: none;
    color: #fafafa;
    padding: 8px;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    margin: 12px 3px;
    cursor: pointer;
}
.container4 {
    position: relative;
    top: 30px;
    width: 45%;
    min-height: 15vh;
    border-style:solid 2px;
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
#demo2{
    position: relative;
    left: 405px;
    font-size: 13px;
    top: 20px;
}
#sliderlabel{
    font-size: 13px;
}
.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 4px;
    border-radius: 5px;
    background:#c0392b;
    outline: none;

}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#c0392b;
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#c0392b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background: #c0392b;
    cursor: pointer;
}


.container5 {
    position: absolute;
    top: 675px;
    width: 45%;
    min-height: 50vh;
    border-style: solid 2px;
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
#ratings{
    position: absolute;
    top: 35px;
    left: 575px;
    width: 140px;
}
#4starslabel{
    position: relative;
    left:50px;
}
.container-radio {
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 100px;
    text-align: left 70px;
    display: block;
    position: relative;
    min-height: 3vh;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;

    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0px;
    left: 9px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 100%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color:white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background:#c0392b ;
}
.container6 {
    position: relative;
    top: 350px;
    width: 45%;
    min-height: 50vh;
    border-style: solid 2px;
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
.searchbar2{
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    position: relative;
    text-align-all: right;
    border-width: 0 0 2px;
    padding: 5px 150px;
    top: 5%;
    outline: none;
}
.container7 {
    position: relative;
    top: 150px;
    width: 45%;
    min-height: 50vh;
    border-style: solid 2px;
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
.container8 {
    position: relative;
    top: -125px;
    width: 45%;
    min-height: 50vh;
    border-style: solid 2px;
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
.container9 {
    position: relative;
    top: -325px;
    width: 45%;
    min-height: 50vh;
    border-style: solid 2px;
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
.container10 {
    position: relative;
    top: -575px;
    width: 45%;
    min-height: 50vh;
    border-style: solid 2px;
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
h6{
    color:#c0392b;
}
a {
    color: black;
    text-decoration: none;
}

a:active {
    color: blue;

}
#argentina{
    background-image: url(Images/argentina.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;

}
#australia{
    background-image: url(Images/australia.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;

}
#austria{
    background-image: url(Images/austria.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;

}
#chile{
    background-image: url(Images/chile.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;

}
#france{
    background-image: url(Images/france.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;

}
#germany{
    background-image: url(Images/germany.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;

}
#italy{
    background-image: url(Images/italy.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;

}
#spain{
    background-image: url(Images/spain.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;

}
#portugal{
    background-image: url(Images/portugal.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;
}
#unitedstates{
    background-image: url(Images/unitedstates.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 10px;
}
#poultry{
    background-image: url(Images/poultry.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 12px;
}
#fish{
    background-image: url(Images/fish.png);
    background-repeat: no-repeat;
    background-position: left 2px center;
    background-size: 15px;
}
#chily{
    background-image: url(Images/chily.png);
    background-repeat: no-repeat;
    background-position: left 2px center;
    background-size: 15px;
}
#sweetdessert{
    background-image: url(Images/muffin.png);
    background-repeat: no-repeat;
    background-position: left 2px center;
    background-size: 15px;
}
#veal{
    background-image: url(Images/veal.png);
    background-repeat: no-repeat;
    background-position: left 2px center;
    background-size: 15px;
}
h3{
    font-size: 40px;
}
.containerwine1{
    position: relative;
    background-color: white;
    left: 850px;
    top: -1825px;
    border-radius: 10px;
    width: 40%;
    min-height: 30vh;
    border-style: solid 2px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.06);
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
.container-img-bg-4{
    position: absolute;
    background-color: #ece4cf;
    align-content: center;
    border-radius: 10px;
    text-align: center;
    left:-135px;
    top: 0px;
    width: 40%;
    min-height: 27vh;
    z-index: 0;
}

#wineimg-1{
    position: absolute;
    left: 180px;
    width: 60px;

}
.bottleinformatin1{
    position: absolute;
    left: 150px;
    top: 10px;
    width: 40%;
    min-height: 30vh;
   z-index: 1;
}

.bottleComment1{
    position: absolute;
    background-color: #f5f5f5;
    text-align: center;
    left: 500px;
    top: 10px;
    width: 32%;
    min-height: 6vh;
    z-index: 1;
}

#wineimg-1{
    position: absolute;
    top: 30px;
    left: 35px;
    width: 60px;
    z-index: 10;

}
.bottleinformatin1{
    position: absolute;
    left: 150px;
    top: 10px;
    width: 40%;
    min-height: 30vh;
    z-index: 1;
}

.bottleComment1{
    position: absolute;
    background-color: #f5f5f5;
    text-align: center;
    left: 500px;
    top: 10px;
    width: 32%;
    min-height: 6vh;
    z-index: 1;
}
.containerwine2{
    position: relative;
    background-color: white;
    left: 850px;
    top: -3050px;
    border-radius: 10px;
    width: 40%;
    min-height: 30vh;
    border-style: solid 2px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.06);
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
.container-img-bg-1{
    position: absolute;
    background-color: #e7dcdb;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    left:-135px;
    top: 0px;
    width: 40%;
    min-height: 27vh;
    z-index: 0;
}

#wineimg-2{
    position: absolute;
    top: 30px;
    left: 35px;
    width: 60px;
    z-index: 10;

}
.bottleinformatin2{
    position: absolute;
    left: 150px;
    top: 10px;
    width: 40%;
    min-height: 30vh;
    z-index: 1;
}

.bottleComment2{
    position: absolute;
    text-align: center;
    left: 500px;
    top: 10px;
    width: 32%;
    font-size: 20px;
    min-height: 6vh;
    z-index: 1;
}
.containerwine3{
    position: relative;
    background-color: white;
    left: 850px;
    top: -3030px;
    border-radius: 10px;
    width: 40%;
    min-height: 30vh;
    border-style: solid 2px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.06);
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
.container-img-bg-2{
    position: absolute;
    background-color: #d8d9d3;
    border-radius: 10px;
    text-align: center;
    left:-135px;
    top: 0px;
    width: 40%;
    min-height: 27vh;
    z-index: 0;
}


#wineimg-3{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    z-index: 10;

}
.bottleinformatin3{
    position: absolute;

    left: 150px;
    top: 10px;
    width: 40%;
    min-height: 30vh;
    z-index: 1;
}

.bottleComment3{
    position: absolute;
    background-color: #f5f5f5;
    text-align: center;
    left: 500px;
    top: 10px;
    width: 32%;
    min-height: 6vh;
    z-index: 1;
}
.containerwine4{
    position: relative;
    background-color: white;
    left: 850px;
    top: -3008px;
    border-radius: 10px;
    width: 40%;
    min-height: 30vh;
    border-style: solid 2px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.06);
    padding-left: 20%;
    text-align: left;
    padding-right: 8px;
    overflow: hidden;
}
.container-img-bg-3{
    position: absolute;
    background-color: #c9c0b3;
    border-radius: 10px;
    text-align: center;
    left:-135px;
    top: 0px;
    width: 40%;
    min-height: 27vh;
    z-index: 0;
}

#wineimg-4{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    z-index: 10;

}
.bottleinformatin4{
    position: absolute;

    left: 150px;
    top: 10px;
    width: 40%;
    min-height: 30vh;
    z-index: 1;
}

.bottleComment4{
    position: absolute;
    background-color: #f5f5f5;
    text-align: center;
    left: 500px;
    top: 10px;
    width: 32%;
    min-height: 6vh;
    z-index: 1;
}
.vivinodetails{
    background-color: #F7F3F0;
    width: 100%;
    text-align: center;
    min-height: 20vh;
    position: absolute;
    bottom: -180%;
    border-style: solid 2px;
    font-size: 30;
    box-shadow: 0px 8px 12px 0px rgba(0.2,0,0,0);
    overflow: hidden;
}
#vivinodetails{
    position: absolute;
    left: 350px;
    top: 100px;
}
.footer {
    position: absolute;
    bottom: -200%;
    background-color: #EAE0DA;
    width: 100%;
    min-height: 20vh;
    border-style: solid 2px;
    padding-left: 20%;
    padding-right: 8%;
    box-shadow: 0px 8px 12px 0px rgba(0.2,0,0,0);
    overflow: hidden;
}
.footerdetails{
    position: absolute;
    width: 63%;
    min-height: 50vh;
    position: absolute;
    bottom: -145%;
    background-color:#EAE0DA ;
    border-style: solid 2px;
    padding-left: 20%;
    padding-right: 8%;
    box-shadow: 0px 8px 12px 0px rgba(0.2,0,0,0);
    overflow: hidden;
}
#appstore{
    position: absolute;
    left: 20px;
    width: 150px;
}
#playstore{
    position: absolute;
    left: 165px;
    width: 150px;
}
#payment{
    position: absolute;
    right: 10px;

    width: 500px;
}








